<header class="bg-green-500 flex justify-between mb-10">
  <h1 class=" font-black text-white ml-4 py-5"><a href="/admin">INICIO</a></h1>
  <a href="/login-cadastro" style="color: white; font-size: 30px; margin-left: 90px;"><b>Login</b></a>
  <a class="mr-4 py-5" href="/cadastro" style="color: white;"><b>CADASTRAR USUARIO</b></a>
  
</header>