<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <title>DOCATO</title>
</head>
<body>
  <header >
    <div class="headerpai">
    <div class="logo">
        <span>DOCATO SERVIÇOS</span>
    </div>
    </div>
    </header>
  <main class="main-pai">
  <h1 class="h1">Serviços Docato</h1>
  <p class="produtos"><%= JSON.stringify(nome) %></p>
  <button> <a href="https://docato.com.br/">ENTRAR EM CONTATO</a></button>
  </main>
</body>
</html>